/* footer part style  */

.footer{
    background-image: url('https://www.investopedia.com/thmb/UxoLH5yTkBEVVP-o01AZWlDYp08=/1498x1498/smart/filters:no_upscale()/GettyImages-1036290704_2400-a0add133324a4892b365358ab661634e.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gainsboro;
    margin-top: 150px;
    padding-bottom: 30px;
    padding-top: 30px;
      
}


/*  content margin style */
.content-margin{
    margin-top: 50px;
}